body {
  padding-top: 50px;
}
.trips {
  padding: 40px 15px;
  margin:0 auto;
}


.login-form {
	width:375px;
	margin:10px 0;
}
.login-form .form-group {
	float:left;
	margin: 0 10px 0 0;
}
.login-form .form-group label {
	color:#fff;
}
.login-form .btn {
	float:left;
	margin-top:24px;
}

.login-error-message {
	margin:10px 0;
	color:red;
}