<h2>Register</h2>
<form name="registerForm clearfix" class="login-form" ng-controller="RegisterController" ng-submit="register(credential)" novalidate>
	<div class="form-group">
		<label for="username">Email:</label>
		<input type="text" class="form-control input-lg" id="username" ng-model="credentials.username">
	</div>
	<div class="form-group">
		<label for="password">Password:</label>
		<input type="password" class="form-control input-lg" id="password" ng-model="credentials.password">
	<div class="login-error-message has-warning" register-error></p>
	</div>

	<button class="btn btn-primary" type="submit">Register</button>

</form>